/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-color: #fbfbfb;
}

body {
  margin: 0;
  font-family: Mulish, sans-serif !important;
  overflow: hidden;

  input {
    font-family: Mulish, sans-serif !important;
  }
}

.mat-mdc-dialog-surface {
  border-radius: 10px !important;
}
